.header_top
    .container
        nav
            ul
                li
                    a(href="#") Tài khoản của tôi
                li
                    a(href="#") Trạng thái đơn hàng
                li
                    a(href="#") Danh sách ưa thích
                li
                    a(href="#") Giỏ hàng
                li
                    a(href="#") Đăng nhập
                li
                    a(href="#") Đăng kí
        nav
            ul
                li
                    a(href="#") Đăng nhập
                li
                    a(href="#") Đăng kí
        .header_top__search
            input(type="text" placeholder="Tìm kiếm ở đây ...").header_top__input
            button(type="button").header_top__button.btn
                i.fas.fa-search