.header_bottom
    .container
        a(href="#").header_bottom__logo
            img(src="images/logoooo.png", alt="logo")
        a(href="#").header_bottom__toggle
            i.fas.fa-bars
        nav
            ul
                li
                    a(href="#") Trang chủ
                li.dropdown
                    a(href="#") Rượu vang đỏ
                    div.dropdown__content
                        .dropdown__header
                        .dropdown__row
                            .dropdown__column
                                h3  RƯỢU NGOẠI
                                a(href="#") Rượu Chivas
                                a(href="#") Hàng độc - Rượu độc đáo
                                a(href="#") Johnnie Walker
                                a(href="#") Rượu Whisky 
                                a(href="#") Rượu Remy Martin
                                a(href="#") Rượu Glenmorangie
                                a(href="#") Rượu Vodka
                            .dropdown__column
                                h3  RƯỢU NGOẠI
                                a(href="#") Rượu Chivas
                                a(href="#") Hàng độc - Rượu độc đáo
                                a(href="#") Johnnie Walker
                                a(href="#") Rượu Whisky 
                                a(href="#") Rượu Remy Martin
                                a(href="#") Rượu Glenmorangie
                                a(href="#") Rượu Vodka
                            .dropdown__column
                                h3  RƯỢU NGOẠI
                                a(href="#") Rượu Chivas
                                a(href="#") Hàng độc - Rượu độc đáo
                                a(href="#") Johnnie Walker
                                a(href="#") Rượu Whisky 
                                a(href="#") Rượu Remy Martin
                                a(href="#") Rượu Glenmorangie
                                a(href="#") Rượu Vodka
                            .dropdown__column
                                img(src="images/Layer 1311X.png", alt="imggggg")
                li
                    a(href="#") Rượu trắng
                li
                    a(href="#") Champagne
                li
                    a(href="#") Thông tin
                li
                    a(href="#") Blog
                li
                    a(href="#") Liên hệ